@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid" style="display:flex; align-items: center; justify-content: center;">
    <div>
        Контент.
    </div>
</div>

